.header {
    height: 4rem;
    width: 100%;
    background-color: rgb(30, 30, 30);
    /* border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(243, 244, 246, var(--tw-border-opacity)); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.lineHeight {
    line-height: 4rem;
}



.titleContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}