.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 4rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 1rem 0;
}

.iconBox {
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

.icon {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: 1px solid rgb(107, 114, 128);
}

.clearButton {
    position: absolute;
    bottom: 0;
    left: 5.5rem;
    background-color: #bbbbbb;
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
    border: 1px solid gray;
}

.ageBox {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.ageBox input {
    width: 4rem;
    border-color: #bbbbbb;
}

.nameBox {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ageBox p,
.nameBox p,
.emailBox p {
    font-size: 1rem;
    margin-left: 0.5rem;
    color: rgb(255, 100, 100);
    display: flex;
    align-items: flex-end;
}

.nameBox input {
    width: 100%;
    border-color: #bbbbbb;
}

.emailBox {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.emailBox input {
    width: 100%;
    border-color: #bbbbbb;
}

.textBox {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textBox textarea {
    width: 100%;
    height: 8rem;
    border-color: #bbbbbb;
}

.submitButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #414c5e;
    border-radius: 0.25rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fff;
    width: 8rem;
    margin: 1rem 0;
}

.submitButton:disabled {
    background-color: rgb(190, 190, 190);
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modalContent {
    background-color: lemonchiffon;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    max-height: 80%;
    position: relative;
}

.label {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

.errorText {
    color: #ff0000;
}