.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 4rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
}

.saveButton {
    background: #414c5e;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.saveButton:disabled {
    background: #c4c4c4;
    cursor: not-allowed;
}